/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Nunito&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --dark-color: #2A353B;
  --light-color: #EEEEEE;
  --accent-color: #FFF352;
  --text-color: #222222;
  --muted-text-color: #888888;

  --size-sm: 4px;
  --size-md: 8px;
  --size-lg: 16px;
  --size-xl: 40px;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
